// Arquivo global de estilos css
* {
  font-family: Verdana;
  font-weight: 600;
}

html {
  overflow-x: hidden;
}

.Title {
  margin: auto;
  text-align: center;
  justify-content: center;
}
.p1 {
  margin: 5rem 0 0 0;
  font-weight: bold;
}

#TitleMsg {
  margin: 2.4rem 0 -3rem 0;
  padding: 0 0 0 0;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

/** Botões estilizados em formato default da tela */
.BtnRegister {
  width: 35%;
  margin: -50rem 0 0 100rem;
}

.BtnEdit {
  margin: -27.4rem 0 0 97rem;
  display: inline-table;
  justify-content: center;
}

.BtnDelete {
  margin: -29.9rem 0 0 106rem;
  display: inline-table;
  justify-content: center;
}

/** Estilos para mobile */
@media only screen and (min-width: 321px) and (max-width: 800px) {
  #TitleMsg {
    margin: 0 -2rem 0 0;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
  }

  .BtnRegister {
    margin: 5rem 2.5rem 1.5rem 0;
    float: center;
    justify-content: center;
    width: 60%;
  }
}
@media only screen and (min-width: 801px) and (max-width: 1000px) {
  #TitleMsg {
    margin: 0 -2rem 0 0;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
  }

  .BtnRegister {
    margin: 5rem 2.5rem 1.5rem 0;
    float: center;
    width: 60%;
  }
}
